.btn-secondary {
    background-color: #212529eb;
    border-color: #212529eb;
    width: 16rem;
    height: 3rem;
}
.content {
    margin: 1rem;
}
.content-all {
    padding-top: 2rem;
    text-align: center;
}
