/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 7, 2020, 4:37:32 PM
    Author     : Andrei
*/

.margin{
    margin-top:20px;    
    margin-bottom:20px;
}

a:hover{
    color: #ffffff;
    text-decoration:none;
}

.themeBtn2 {
    background: grey;
    color: #ffffff !important;
    display: inline-block;
    font-size: 15px;
    font-weight: 500;
    height: 50px;
    line-height: 0.8;
    padding: 18px 30px;
    text-transform: capitalize;
    border-radius: 1px;
    letter-spacing: 0.5px;
    border:0px !important;
    cursor:pointer;
    border-radius:100px;

}
.themeBtn2:hover {
    background: #666666;
    color: #ffffff;
    box-shadow: 0 10px 25px -2px black;
}
.center {
    max-width: 500px;
    margin: auto;


    padding: 4px;
}
.indent {
    text-indent: 5%;
}

html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

.navbar {
    margin: 0;
    border: 0;
    overflow: auto;
}
