<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>login.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>login.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewElectionsServlet</servlet-name>
        <servlet-class>view.ViewElectionsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertDataServlet</servlet-name>
        <servlet-class>insert.InsertDataServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateElectionServlet</servlet-name>
        <servlet-class>insert.CreateElectionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertCandidatesServlet</servlet-name>
        <servlet-class>insert.InsertCandidatesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeRedirectServlet</servlet-name>
        <servlet-class>login.HomeRedirectServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>NewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewResultsServlet</servlet-name>
        <servlet-class>view.ViewResultsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateElectionServlet</servlet-name>
        <servlet-class>update.UpdateElectionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteElectionServlet</servlet-name>
        <servlet-class>delete.DeleteElectionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteElectionViewServlet</servlet-name>
        <servlet-class>delete.DeleteElectionViewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteElectionIdsServlet</servlet-name>
        <servlet-class>delete.DeleteElectionIdsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateElectionViewListServlet</servlet-name>
        <servlet-class>update.UpdateElectionViewListServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewElectionsServlet</servlet-name>
        <url-pattern>/ViewElectionsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertDataServlet</servlet-name>
        <url-pattern>/InsertDataServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateElectionServlet</servlet-name>
        <url-pattern>/CreateElectionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertCandidatesServlet</servlet-name>
        <url-pattern>/InsertCandidatesServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeRedirectServlet</servlet-name>
        <url-pattern>/HomeRedirectServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/GetData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewResultsServlet</servlet-name>
        <url-pattern>/ViewResultsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateElectionServlet</servlet-name>
        <url-pattern>/UpdateElectionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteElectionServlet</servlet-name>
        <url-pattern>/DeleteElectionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteElectionViewServlet</servlet-name>
        <url-pattern>/DeleteElectionViewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteElectionIdsServlet</servlet-name>
        <url-pattern>/DeleteElectionIdsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateElectionViewListServlet</servlet-name>
        <url-pattern>/UpdateElectionViewListServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
